.item {
    width: 350px;
    margin: 10px 0;
    border: 1px solid black;
}

.product {
    display: flex;
    justify-content: space-between;
}
.image {
    width: 100px;
    height: 100px;
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .name {

    }
    
    .price {
        
    }
}


.delete {
    width: 20px;
    height: 20px;
}