.nav {
    width: 20%;
    .head {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }
    .list {
        
        margin: 0;
        padding: 0;
        border: 1px solid black;
        .item {
            padding: 20px;
        }
    }
}