.container {
    width: 40%;
    text-align: end;
    align-self: center;
    .search {
        background-color: rgb(233, 233, 233);
        width: 70%;
        border-radius: 5px;
    }
    .button {
        background-color: rgb(233, 233, 233);
        border-radius: 5px;
    }
    .content {
        margin-top: 10px;
        position: absolute;
        right: 235px;
        width: 320px;
        height: 200px;
        background-color: rgb(233, 233, 233);
        border: 1px solid black;
    }
}