.conatiner {
    margin-top: 38px;
    width: 79%;
    border: 1px solid black;
}

.filter {
    padding: 10px 40px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .filter-select {
        padding: 5px 20px;
    }
    .filter-button {
        padding: 5px 20px;
    }
}

.content {
    padding: 20px;
    .list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .item {
        margin-bottom: 20px;
        width: 19%;
        border: 1px solid black;
    }
}