.present {
    
}
.list {
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
}

.slides {
    .slider-bar {
        padding: 40px;
        .slide {
            width: 100%;
            height: 500px;
        }
    }
    .selectors {
        .selector {
            width: 10px;
            height: 10px;
            border: 1px solid white;
        }
    }
}

