.chat {
    position: absolute;
    top: 70px;
    right: 260px;
    width: 400px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.head {
    margin: 0;
    padding-right: 20px;
    padding-top: 10px;
    text-align: end;
}

.list {
    padding: 10px 20px;
    margin: 0;
    height: 120px;
    list-style-type: none;
    overflow: auto;
    .item {
        padding: 5px;
        margin: 10px 0;
        border: 1px solid black;
    }
}

.input {
    margin-top: 15px;
    padding: 0 15px;
    .message {
        
    }
    .send {

    }
}

