@mixin pad {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 12px 25px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: rgb(199, 193, 193);
    };
    &:active {
        background-color: antiquewhite;
    }
}

.container {
    .top {
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        background-color: rgb(246, 203, 146);
    }
    .bottom {
        justify-content: space-between;
        padding: 25px 50px;
    }
}

.setting {
    display: flex;
    .currency {
        border-left: 2px solid white;   
        border-right: 2px solid white;
        .select {
            @include pad;
            width: 110px;
            border: none;
            background-color: rgb(246, 203, 146);
            appearance: none;
            .option {

            }
        }
    }
    .language {
        border-right: 2px solid white;
        .select {
            @include pad;
            border: none;
            background-color: rgb(246, 203, 146);
            appearance: none;
            .option {
                
            }
        }
    }
}

.user {
    display: flex;
    .help {
        position: relative;
        @include pad;
        border-left: 2px solid white;   
        border-right: 2px solid white;
    }
    .account {
        @include pad;
        background-image: url('../../image/account.png');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
        border-right: 2px solid white;
    }
    .cart {
        @include pad;
        background-image: url('../../image/cart.png');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
        border-right: 2px solid white;
    }
}

.bottom {
    display: flex;
    .logo-container {
        .logo {
            width: 100px;
            height: 60px;
            background-image: url('../../image/logo.png');
            background-repeat: no-repeat;
            background-size: 100px 60px;
        }
    }
    .contact {
        width: 30%;
        text-align: center;
        .contact-name {
            margin: 0;
            padding: 0;
        }

        .contact-ref {
            font-size: 24px;
            color: black;
        }
        
    }
    
}